.save {
  Button {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover {
    Button {
      opacity: 1;
    }
  }
}

.div-grid {
  Button {
    transition: width 0.8s;
    &:hover {
      background-color: black;
      color: white;
      background-color: teal;
      width: 160%;
    }
  }
}

.css-ducv57 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.css-n7iznt {
  width: 100%;
}
